body{
    background-color: #fff;
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container{
    min-height: 300vh;
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fade-text {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: fadeOut linear forwards;
    animation-timeline: scroll();
    animation-range: 0% 20%;
}

.appear-text{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInOut linear forwards;
    animation-timeline: scroll();
    animation-range: 25% 60%;
}

.fade-p-1{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInOut linear forwards;
    animation-timeline: scroll();
    animation-range: 50% 80%;
}

.fade-p-2{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn linear forwards;
    animation-timeline: scroll();
    animation-range: 70% 100%;
}

@keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}   
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    33% { opacity: 1; }
    60% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    33% { opacity: 1; }
}

.content {
    padding: 2rem;
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#particleCanvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}

.particle-trigger {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}
